[submodule "minetest-3d_armor"]
	path = minetest-3d_armor
	url = https://github.com/erwin8086/minetest-3d_armor
[submodule "clothing"]
	path = clothing
	url = https://github.com/erwin8086/clothing
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/erwin8086/unified_inventory
